<!DOCTYPE HTML>
<html>
<head lang="en" ng-app="myApp">
    <title>Research Survey</title>
</head>

<body>
<div class="login-middle">
    <p>Hello <%= name %></p>
    <p>You have the following surveys:</p>
    <table style="width:40%">
        <% for(var i=0; i<surveys.length; i++) {%>
        <% var link  = "/renderSurvey?nm="+ surveys[i].split(' ').join('+'); %>
        <% var link2  = "/participants?nm="+ surveys[i].split(' ').join('+'); %>
        <tr>
          <td><a href=<%=link%>> <%= surveys[i] %> </a> </td>
          <td>  <a href=<%=link2%>>  Manage Participants </a> </td>
          <td>  <a href=<%=link2%>>  Results </a> </td>
        </tr>
        <% } %>
    </table>

    <form action="/newSurvey">
        <input type="submit" value="Create New Survey">
    </form>

    <form method="post" action="/logout">
        <input type="submit" value="Logout">
    </form>
</div>

</body>