<!DOCTYPE HTML>
<html>
<head lang="en" ng-app="myApp">
    <title>Research Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</head>

<body>
<div class="login-middle">
    <p>Hello <%= name %></p>
    <p>You have the following surveys:</p>
    <table class="table">
        <% for(var i=0; i<surveys.length; i++) {%>
        <% var link  = "/renderSurvey?nm="+ surveys[i].split(' ').join('+'); %>
        <% var link2  = "/participants?nm="+ surveys[i].split(' ').join('+')  + "&id=" +id[i]; %>
        <tr>
          <td><a href=<%=link%>> <%= surveys[i] %> </a> </td>
          <td>  <a href=<%=link2%>>  Manage Participants </a> </td>
          <td>  <a href=<%=link2%>>  Results </a> </td>
        </tr>
        <% } %>
    </table>


    <a href="/renderSurvey?new=yes"> <button class="btn btn-info">Create a new survey  </button> </a>
    <br>
    <form method="post" action="/logout">
        <button  type="submit" class="btn btn-link">Log Out</button>
    </form>
</div>

</body>